<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.ahqmrf.recapture">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ReCapture"
        android:allowBackup="true"
        android:icon="@drawable/re_capture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/TabActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateMemoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/TabActivityTheme" />
        <activity
            android:name=".activity.SelectIconActivity"
            android:label="Select icon" />
        <activity android:name=".activity.TagPeopleActivity" />
        <activity
            android:name=".activity.AddUserActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SingleImageSelectionActivity"
            android:theme="@style/TabActivityTheme" />
        <activity
            android:name=".activity.MemoryViewActivity"
            android:label="Memory"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ImageFullScreenActivity"
            android:theme="@style/Theme.DialogActivity.Transparent" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="Edit Profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="View Profile" />
    </application>

</manifest>